
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(248, 205, 249, .50);
    background-image: linear-gradient(rgba(248, 205, 249, .90), rgba(248, 205, 249, .90)), 
        url("https://static.vecteezy.com/system/resources/previews/004/532/221/non_2x/tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: 0.5s;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  margin: auto;
  background-color: rgb(248, 205, 249);
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: rgb(126, 75, 139);
}
.label-textinput{
    display: flex;
    gap: 2em;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.game{
    background-color: rgb(126, 75, 139);
    color: rgb(248, 205, 249);
    font-size: 1.5rem;
    display: none;
    border-radius: 15px;
    z-index: 1;
    padding: 30px;
    width: 50%; /* Full width */
    margin-top: 0;
    margin-bottom: 1em;
    height: fit-content; /* Full height */
}

.inline-scores{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcome {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: larger;
    color: rgb(126, 75, 139);
}

.mybtn{
    width: 200px;
    height: 80px;
    color: rgb(126, 75, 139);
    font-size: 1.5em;
    border: 0;
    border-radius: 15px;
    background-color: rgb(248, 205, 249);
}

.mybtn:hover{
    width: 210px;
    height: 85px;
    transition: 0.3s;
}

.submitNamesAndPlayBtn{
    color: rgb(248, 205, 249);
    font-size: 1.5em;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(126, 75, 139);
}

.ttt-box{
    align-self: center;
    width: 50px;
    height: 50px;
    background-color:rgb(170, 170, 170);
    border-radius: 5px;
    margin: 2px;
    border: 0;
    opacity: 50%;
    color: rgb(126, 75, 139);
    font-size: larger;
    font-weight: 600;
    line-height: 0;
}

.ttt-box:hover, .reset-round-btn:hover{
    opacity: 100%;
    transition: 1s;
}

.ttt-grid{
    display: flex;
    flex: 1;
    flex-direction: column;   
}

.in-game{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2rem;
}

.reset-round-btn{
    background-color: rgb(248, 205, 249);
    color: rgb(126, 75, 139);
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    opacity: 80%;
}

